*{
    box-sizing: border-box;
}

body {
     font: 400 14px/1 'PT Sans', sans-serif;
     margin: 0;
 }

 a {
     text-decoration: none; 
 }

 button {
     border: none;
     background-color: transparent;
     cursor: pointer;
     padding: 0;
 }

 p, h1, h2, h3, h4, h5, h6 {
     margin: 0;
 }

 .d-flex {
     display: flex;
 }

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

 .container {
     max-width: 1114px;
     padding: 0 15px;
     margin: auto;
 }

 .btn {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
    padding: 16px 30px;
 }

 .btn-default {
     background: #fff;
     box-shadow: 0px 4px 20px #0F064C;
     color: #0F064C;
 }



 .header {
     position: absolute;
     /* background-color: #000; */
     padding: 40px 0;
     width: 100%;
     left: 0;
     right: 0;
 }

 .main-header-nav {
    font-weight: 700;
    margin-left: 66px;
 }

 .main-header-nav a {
    color: #fff;
 }

 .main-header-nav a + a,
 .info-header-nav a + a  {
     margin-left: 30px;
 }

 .info-header-nav {
    margin-left: auto;
 }

 .info-header-nav a {
     color: rgba(255, 255, 255, 0.8);
 }

 .inner {
     padding-top: 106px;
     height: 100vh;
     background: linear-gradient(89.85deg, #23196F 0.13%, #180D5B 99.88%);
 }

.inner-call-to-action {
    max-width: 545px;
}

 .call-to-action-title {
     font-size: 48px;
     font-weight: bold;
     color: #fff;
     line-height: 1.29;
     margin-top: 55px;
 }

 .call-to-action-desq {
     max-width: 390px;
     font-size: 18px;
     line-height: 1.33;
     color: rgba(255, 255, 255, 0.8);
     margin-top: 20px;
     margin-bottom: 55px;
 }

 .call-to-action-desq > span {
     color: #36a7b9;
     font-weight: 700;
 }

 .test-your-email {
     display: inline-block;
 }

 .email-not-required {
     margin-top: 15px;
     color: rgba(255, 255, 255, 0.8);
     font-size: 14px;
 }

 .email-not-required span {
     margin-left: 15px;
 }